* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: rgba(255,255,255,0.9);
    border-bottom: 2px solid #0ba1e4;
    padding: 15px 0;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
}
#nav_ul {
    font-size: 16px;
}
#nav_ul>li>a {
    padding: 16px 16px 5px !important;
}
.blues{
    color: #0ba1e4 !important;
}
.nav_img {
    margin-right: 266px;
    margin-left: -15px;
}
.navbar-header {
    margin-right: 10px;
}
.perform-box {
    height: 400px;
    padding: 50px 0;
}
.perform-top {
    text-align: center;
}   
.container-p1 {
    font-size: 36px;
    font-weight: 300;
}
.container-p2 {
    margin: 30px auto 26px;
    width: 80px;
    border-top: 2px solid #0ba1e4;
}
.container-p3 {
    font-size: 19px;
    font-weight: 300;
    line-height: 1;
    color: #777;
}
.container_row {
    /* height: 160px; */
    /* float: left; */
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
}
.contain-test-one>span {
    font-size: 70px;
    line-height: 1.5em;
    color: #0ba1e4;
}
.row-box {
    padding: 50px 0;
}
.advan-box {
    background-color: #e1e1e1;
}
.advan-box {
    padding: 50px 0;
}
.advan-one-box {
    padding-left: 15px;
}
.nav_blue {
    border-bottom: 1px solid #0ba1e4;
    width: 15px;
    margin: 0 auto;
}
#nav_ul>li:hover  .navbar-nav>li>a{
    color: #0ba1e4;
}
.container {
    max-width: 970px;
}
.advan-one {
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #c1c1c1;
    padding: 10px;
    line-height: 24px;
}
.advan-one span {
    font-size: 80px;
    color: #0ba1e4;
}
.advan-one:hover .a{
    color: #FFF;
}
.advan-one:hover {
    transition: all .5s;
    color: #FFF;
    
    background-color: #0ba1e4;
}
.serve-box {
    padding: 50px 0;
    overflow: hidden;
}
 

.serve_li {
    /* width: 25%; */
    background-color: #fafafa;
    /* float: left; */
    border: 1px solid #c1c1c1;
    
}
.serve_li:hover {
    background-color: #0ba1e4;
    color: #fff;
    transition: all .5s;
    z-index: 11;
    transform: scale(1.1,1.1);
    
}
.serve_title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
    text-align: center;
}
.serve_content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.serve_title>h4 {
    color: #0ba1e4;
    font-weight: bold;
}
.serve_li:hover .serve_title>h4{
    color: #fff;
    transition: all .5s;
}
.serve_content>p {
    line-height: 45px;
}
.serve_content>a {
    border: 1px solid #0ba1e4;
    width: 98px;
    height: 34px;
    padding: 6px 30px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
}
.serve_li:hover .serve_content>a {
    color: #fff;
    border: 1px solid #ffffff;
    transition: all .5s;
}
.serve_content>a:hover {
    background-color: #ffffff;
    color: #0ba1e4!important;
    transition: all .5s;
}
.perform-top {
    margin-bottom: 30px;
}
.serve_btn {
    padding: 10px;
    text-align: center;
}
.serve_btn>a {
    border: 1px solid #0ba1e4;
    padding: 15px;
    border-radius: 7px;
    text-decoration: none;
}
.serve_btn>a:hover {
    background-color: #0ba1e4;
    color: #fff;
    transition: all .5s;
    
}
.card-box {
    padding-bottom: 60px;
}
.our-example{
    background-color: #f5f5f5;
    padding: 50px 0;
}
.our-example-box{
    padding-top: 30px;
    padding-bottom: 30px;
}
.symbol {
    border: 1px solid #34a263;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 75px;
    font-size: 34px;
    color: #34a263;
    margin: 0 auto;
    text-align: center;
} 
.our-example-popover{
    height: 190px;
    padding-bottom: 0px;
}
.our-example-popover .popover{
    height: 160px;
    width: 100%;
    max-width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #34a263;
    box-shadow: none;
    z-index: 10;
    position: relative;
    display: block;
    float: left;
}
.popover.top>.arrow {
    border-top-color: #34a263;
}
.popover.top>.arrow:after {
    border-top-color: #f5f5f5 !important;
}

.popover-title-touxiang {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -26px;
    margin: 0;
    left: 0;
    text-align: center;
}

.popover-title-touxiang img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.popover-content {
    margin: 9% 0 0;
}
.popover-content-tag {
    position: absolute;
    font-size: 12px;
    bottom: 12px;
    width: 91%;
}
.popover-content-tag .bingzhong {
    float: left;
    background-color: #aaa;
    color: #fff;
    padding: .5% 3.5%;
    max-width: 50%;
    overflow: hidden;
}
.position-address {
    max-width: 50%;
    float: right;
    overflow: hidden;
}
.our-news{
    background-color: #ffffff;
    padding: 50px 0;
}
.our-news-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-news-item a:hover{
    text-decoration: none;
}
.our-news-item .media-left a{
    width: 140px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 0;
}
.our-news-item img{
    width: 100%;
    height: 100px;
}

.our-news-item .media-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

.our-news-item h4{
    color: #0ba1e4;
    height: 19px;
    overflow: hidden;
}
.our-news-item h4:hover{
    font-weight: bold;
}

.our-news-item .dynamic-li {
    color: #999;
    padding: 2px 0;
    font-size: 12px;
}
.our-news-item .dynamic-li b {
    float: right;
    font-weight: 400;
    width: 30px;
}
.our-news-item .dynamic-li a{
    display: inline-block;
    font-weight: 400;
    color: #999;
    margin-right: 10px;
}
.our-news-item .dynamic-li a{
    float: right;
}
.our-news-item .dynamic-li a:hover{
    color: #f93;
}


.our-news-item p{
    color: #919191;
    text-overflow: ellipsis;
    line-height: 24px;
    height: 45px;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 12px;
}
.our-news-more{
    text-align: center;
}

.our-client{
    background-color: #e1e1e1;
    padding: 50px 0;
}
.our-client-item{
    overflow:hidden !important;
}
.our-client-item .our-client-logo{
    text-align: center;
    border: 1px solid #c1c1c1;
    margin: 20px auto;
    overflow: hidden;
}
.our-client-item .our-client-logo:hover{
    background-color: #fafafa;
    border:1px solid #0ba1e4;
    box-shadow: 0 0 10px 0 rgba(45,183,245,.5);
}
.blue_box {
    height: 258px;
    background-image: radial-gradient(1630px 190px at 963px 31px , #0076d1,#5db8ff);
    position: relative;
    overflow: hidden;
}
.blue_box>img {
    position: absolute;
}
.blue-contain {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.blue-contain>h2 {
    display: block;
    max-width: 300px;
    margin: 0px auto;
    line-height: 77px;
    border-bottom: 2px solid #fff;
    color: #f5f5f5;
}
.blue-contain>h4 {
    color: #f1f1f1;
    margin-bottom: 35px;
}
.blue-contain>a {
    font-size: 24px;
    border: 1px solid #f1f1f1;
    padding: 15px 20px 15px 20px;
    color: #FFF;
    border-radius: 10px;
    text-decoration: none;
}
.blue-contain>a:hover {
    color: #0ba1e4;
    background-color: #fff;
    transition: all .5s;
}
.foots {
    background-color: #363636;
    /* height: 258px; */
    color: #ffff;
}
.foots-one {
    height: 160px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 16px;
    border-left: 2px solid #c1c1c1;
    overflow: hidden;
}
.foots-one ul {
    padding: 25px 0 0 0 ;
}
.foots-one ul li a{
    line-height: 30px;
    color: #f5f5f5;
}
.foot_four>img {
    max-width: 123px;
}
.foot_four>p {
    line-height: 40px;
}
.foot_five img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.foot_five h2{
    line-height: 52px;
    margin: 0;
}
.fonts-last {
    border-right: 2px solid #c1c1c1;
}
.bottom-box {
    text-align: center;
    line-height: 40px;
    color: #fafafa;
    background-color: #666;
}
.bottom-box a {
    text-decoration: none;
    color: #fff;
}
.right {
    width: 48px;
    position: fixed;
    top: 25%;
    right: 0.3%;
    
}
.right>li {
    position: relative;
}
.right>li>a {
    background-size: 138px;
    border: 1px solid #0ba1e4;
    height: 48px;
    width: 48px;
    margin-top: 2px;
    display: block;
}
.right>li:nth-of-type(1) a{
    background: url(../img/right1.png) 0px -92px;
    background-color: #f5f5f5;
}
.div-one {
    position: absolute;
    top: 0px;
    right: 48px;
    height: 48px;
    padding-left: 10px;
    padding-right: 2px;
    border: 1px solid #0ba1e4;
    background-color: #0ba1e4;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    width: 95px;
    display: none;
}
.right>li:nth-of-type(1) a:hover {
    background: url(../img/right1.png) -47px -92px;
    background-color: #0ba1e4;
}
.right>li:nth-of-type(2) a{
    background: url(../img/right1.png) 0px -138px;
    background-color: #f5f5f5;
}
.right>li:nth-of-type(2) a:hover {
    background: url(../img/right1.png) -47px -138px;
    background-color: #0ba1e4;
}

.right>li:nth-of-type(3) a{
    background: url(../img/right1.png) 0px -184px;
    background-color: #f5f5f5;
}
.right>li:nth-of-type(3) a:hover {
    background: url(../img/right1.png) -47px -184px;
    background-color: #0ba1e4;
}

.right>li:nth-of-type(4) a{
    background: url(../img/right1.png) 0px -230px;
    background-color: #f5f5f5;
}
.right-four {
    position: absolute;
    width: 170px;
    height: 170px;
    top: -150px;
    right: 50px;
    border: 1px solid #0ba1e4;
    display: none;
}
.right-four img{
    width: 100%;
}
.right>li:nth-of-type(4) a:hover {
    background: url(../img/right1.png) -47px -230px;
    background-color: #0ba1e4;
}
.right>li:nth-of-type(5) a{
    background: url(../img/right1.png) 0px 0px;
    background-color: #f5f5f5;
}
.right>li:nth-of-type(5) a:hover {
    background: url(../img/right1.png) -47px 0px;
    background-color: #0ba1e4;
}
.right-bottom {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 2px solid #0ba1e4;
    display: none;
    background-color: #f1f1f1;
    z-index: 999;
}
.right-bottom li{
    text-align: center;
}
.right-bottom li img{
    /* height: 30px; */
    max-width: 26px;
    display: block;
    margin: 0 auto;
}
.right-bottom-last {
    position: absolute;
    right: 0;
    top: -113%;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: url(../img/right1.png) -92px 0px;
    z-index: 2;
}
.right-bottom-last:hover {
    background: url(../img/right1.png) 0px 0px;
}
.right-bottom-last a {
    background-color: rgba(255, 255, 255, 0.45) !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.left-box {
    width: 240px;
    height: 420px;
    position: fixed;
    bottom: 10%;
    left: 20px;
    box-shadow: 0 8px 40px 0 rgb(0 0 0 / 40%);
    border-radius: 8px;
    background-color: #f7f7f7;
    z-index: 1000;
}
.left-title {
    background-color: #4E6EF2;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.left-title-left {
    color: #fff;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.left-title-right {
    color: rgb(214, 211, 211);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.left-phone {
    height: 50px;
    padding: 12px 0 12px 6px;
    margin-bottom: 15px;
}
.left-phone>p {
    margin: 0;
    padding: 0;
}
.left-form-box {
    padding: 0 6px;
    font-size: 2px;
}
#text {
    resize: none;
    outline: none;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #DCDFE6;
    padding: 7px;
}
.left-inpu {
    border: 1px solid #DCDFE6;
    height: 35px;
    border-radius: 4px;
    margin-top: 10px;
}
.left-ico {
    height: 35px;
    width: 35px;
}
.left-inpu>div {
    float: left;
    padding: 6px 6px 6px 10px;
}
.left-ico>img {
    width: 12px;
}
.left-inpu>input {
    float: right;
    height: 32px;
    width: 191px;
    outline: none;
    border: none;
    padding: 7px;
    background-color: rgb(247,247,247);
}
.left-bottom {
    width: 60px;
    height: 30px;
    margin-top: 20px;
    float: right;
    border-radius: 7px;
    background-color: #4E6EF2;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
